@import "../shared/helper";
// color :#35fff4;

.home {
  background: #101010;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;

  header {
    height: px(124);
    background-size: cover;
    text-align: center;
    padding: 0.8rem;
    //-webkit-text-stroke: 1px #2cc6bd;
    font-size: 1.8rem;
    //text-shadow: 0 0 10px #2cc6bd, 0 0 20px #2cc6bd, 0 0 30px #2cc6bd, 0 0 40px #2cc6bd;
    color: #fff;
  }

  main {
    padding-top: px(14);
    padding-left: px(32);
    padding-right: px(32);
    flex: 1;
    display: grid;
    grid-template:
      "box1 box4 box6" 1fr
      "box2 box4 box7" 1fr
      "box3 box5 box8" 1fr / 333fr 569fr 444fr;
    grid-column-gap: px(32);
    grid-row-gap: px(32);

    .bordered {
      border: 1px solid #33cccc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #299696, inset 0 0 2px 0 #299696;
      background: rgba(68, 97, 96, 0.3);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 4px;
        box-shadow: 17px 0 0 -16px #1f5d5d,
        -17px 0 0 -16px #1f5d5d,
        0 17px 0 -16px #1f5d5d,
        0 -17px 0 -16px #1f5d5d,
        9px 0 0 -8px #299696,
        -9px 0 0 -8px #299696,
        0 9px 0 -8px #299696,
        0 -9px 0 -8px #299696,;
      }
    }

    > .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;

      h2 {
        flex-shrink: 0;
        font-size: px(20);
        line-height: px(20);
        padding: px(10) px(28);
        text-shadow: 0 0 px(3) #33cccc;
        background: linear-gradient(to right, #2b9f9f 0%, transparent 100%);
      }

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    > .section2 {
      grid-area: box2;
    }

    > .section3 {
      grid-area: box3;
    }

    > .section4 {
      grid-area: box4;
    }

    > .section5 {
      grid-area: box5;
    }

    > .section6 {
      grid-area: box6;
    }

    > .section7 {
      grid-area: box7;
    }

    > .section8 {
      grid-area: box8;
    }

  }

  footer {
    text-align: center;
    padding: px(8);
    font-size: px(16);
  }
}
