@import "../shared/helper";
// color :#35fff4;

.home {
  background: #101010;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;

  header {
    height: px(48);
    background-size: cover;
    text-align: center;
    padding: 0.8rem;
    //-webkit-text-stroke: 1px #2cc6bd;
    font-size: px(18);
    //text-shadow: 0 0 10px #2cc6bd, 0 0 20px #2cc6bd, 0 0 30px #2cc6bd, 0 0 40px #2cc6bd;
    color: #fff;
  }

  main {
    padding-top: px(13);
    padding-left: px(17);
    padding-right: px(14);
    flex: 1;
    display: grid;
    grid-template:
      "box1 box4 box6" 1fr
      "box2 box4 box7" 1fr
      "box3 box5 box8" 1fr / 223fr 386fr 300fr;
    grid-column-gap: px(10);
    grid-row-gap: px(16);
    position: relative;

    .bordered {
      background: rgba(68, 97, 96, 0.1);
      border: 1px solid;
      border-image: linear-gradient(370deg, rgba(255, 255, 255, 0) 0%, #182b29 20%, rgba(255, 255, 255, 0) 99%) 2 2 2 2;
      position: relative;

      &::after {
        content: '';
        width: 4px;
        height: 4px;
        background: #2c8a88;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .other-bordered {
      border: 1px solid #33cccc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #299696, inset 0 0 2px 0 #299696;
      background: rgba(68, 97, 96, 0.3);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 4px;
        box-shadow: 17px 0 0 -16px #1f5d5d,
        -17px 0 0 -16px #1f5d5d,
        0 17px 0 -16px #1f5d5d,
        0 -17px 0 -16px #1f5d5d,
        9px 0 0 -8px #299696,
        -9px 0 0 -8px #299696,
        0 9px 0 -8px #299696,
        0 -9px 0 -8px #299696,;
      }
    }

    .chart9 {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: px(100);
      right: px(170);
      top: 0 - px(50);
      bottom: px(150);

      .chart {
        flex: 1;
      }

    }

    .chart9 {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: px(100);
      right: px(170);
      top: 0 - px(50);
      bottom: px(150);

      .chart {
        flex: 1;
      }

    }

    section {
      display: flex;
      flex-direction: column;

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    > .section1 {
      grid-area: box1;
    }

    > .section2 {
      grid-area: box2;
    }

    > .section3 {
      grid-area: box3;
    }

    > .section4 {
      grid-area: box4;
    }

    > .section5 {
      grid-area: box5;

      .chartGroup {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .chart4 {
          display: flex;
          flex-direction: column;

          .chart {
            flex: 1;
          }

        }

        .chart5 {
          padding: px(12);
          display: flex;
          flex-direction: column;
          gap: px(10);

          .itemText {
            display: flex;
            justify-content: space-between;
            color: #b0b4b9;
            font-size: px(9);
            padding-bottom: px(6);
          }

          .bar {
            height: px(2);
            width: 100%;
            background-color: #1b3639;
          }

          .bar::before {
            display: block;
            counter-reset: progress var(--precent);
            content: '';
            height: px(2);
            width: calc(1% * var(--precent));
            color: #fff;
            background: linear-gradient(to right, transparent 0%, #3fc5c6 100%);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
          }
        }


      }
    }

    > .section6 {
      grid-area: box6;
    }

    > .section7 {
      grid-area: box7;
    }

    > .section8 {
      grid-area: box8;

      .chart {
        padding: px(16) px(18);
        color: #b0b4b9;

        > .line {
          height: 1px;
          background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(106, 215, 217, 0.8) 50%, rgba(106, 215, 217, 0) 100%);
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(106, 215, 217, 0.8) 50%, rgba(106, 215, 217, 0) 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(106, 215, 217, 0.8) 50%, rgba(106, 215, 217, 0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#006ad7d9', GradientType=1);
        }

        > table {
          font-size: px(8);
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;

          thead tr:first-child {
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(106, 215, 217, 0.5) 50%, rgba(106, 215, 217, 0) 100%);
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(106, 215, 217, 0.5) 50%, rgba(106, 215, 217, 0) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(106, 215, 217, 0.5) 50%, rgba(106, 215, 217, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#006ad7d9', GradientType=1);
          }

          tbody tr:not(:first-child) td {
            border-top: px(1) solid #1f323e;
          }

          thead {
            th {
              height: px(21);
            }

            th:nth-child(2) {
              width: px(90);
            }
          }

          tbody {
            td {
              height: px(21);
              text-align: center;
            }

            td:nth-child(2) {
              width: px(90);
            }
          }
        }
      }
    }

  }

  footer {
    text-align: center;
    padding: px(6);
    font-size: px(8);
  }
}
